@import "./../../../Global";

.rover {
  width: 300px;
  &__button {
    &:hover {
    }
  }
  &__image {
    width: 50px;
    margin-right: 5px;
  }
  @include sm {
    margin-bottom: 20px;
  }
}

.rover-details {
  &__label {
    font-weight: bold;
  }
}
